p Time: #{now}, Hostname: #{os.hostname}
p CPU #{cpu.eventTypeString.toLocaleUpperCase()}: load avg: #{Math.floor(cpu.result)} / 10
p RAM #{mem.eventTypeString.toLocaleUpperCase()}: free: #{Math.floor(mem.result)}%, free MB: #{Math.floor(mem.furtherDetail.freeMemMb)} / #{Math.floor(mem.furtherDetail.totalMemMb)}

p IIS Long running results: #{iis.type}
table(style='width:100%', border='1')
  tr
    th url
    th time
  tr
  each val in #{iis.requests}
    td #{val.url}
    td #{val.time}


p Server Details:
table(style='width:100%', border='1')
  tr
    th UserName
    th Uptime
    th OS
    th IP
  tr
    td #{os.userName}
    td #{uptime}
    td #{os.platform}, #{os.arch}
    td #{os.ip}
